<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
</head>
<body>

    <form action="#" th:action="@{/save}" th:object="${person}" method="post">
        <p>Firstname: <input type="text" th:field="*{firstname}" /></p>
        <p>Lastname: <input type="text" th:field="*{lastname}" /></p>
        <p>Address</p>
        <p>City: <input type="text" th:field="*{city}"/></p>
        <p>Street: <input type="text" th:field="*{street}"/></p>

        <p><input type="submit" value="Submit" /><input type="reset" value="Reset" /></p>
    </form>

</body>
</html>